<%- include("header") -%>

<h1>loreasdnkajsndkajsndkas</h1>

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus recusandae beatae impedit commodi facere neque
    aliquid, quibusdam eligendi dolor vel molestiae maiores distinctio ex similique saepe temporibus ipsam quidem sint.
</p>

<%- include("footer") -%>